.calculator-button-holder
{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.normal-calculator{
    width: 60%;
    margin: 0 auto;
}

.button-row{
    display: flex;
    justify-content: space-evenly;
}


@media screen and (max-width:850px) {
    .normal-calculator{
        width: 100%;
    }
}


